h1{
    color: red;
    /* font-family: 'Montserrat', sans-serif;
    font-size: 50px; */
}
body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
}
.header{
    /* text-align:  center; */
    background-color: orange;
    padding: 30px;
    margin: 30px;
    /* border: 5px solid green; */
    width: 1000px;
    height: 200px;
    /* background-image: url(../download.jpeg);
    background-repeat: no-repeat;
    background-size: cover; */
    box-shadow: 2px 2px 1px gray;
    cursor: pointer;
    overflow: scroll;
}

p{
    line-height: 1.7;
    color: black;
}

ul{
    list-style-type: circle;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container div{
    background:  #718096;
    border:  1px solid silver;
    padding:  1.6rem;
    box-sizing: border-box;
    width: calc(1/3*100% - (1-1/3) * 30px);
    /* width: 20%; */
}

.item-1{
    /* flex: 1;
    order: 3; */
}

.item-2{
    /* flex: 2;
    order: 2; */
}
.item-3{
    /* flex: 1;
    order: 1; */
}

@media (max-width: 1024px){
    .container div{
        width: calc(1/2*100% - (1-1/3) * 30px);
    }
}

@media (max-width: 640px){
    .container{
        flex-direction: column;
    }
}